.Navbar{
    background: white;
    margin: 2px 5px;
    border-radius: 10px;
    display: flex;
    justify-content: space-around;
    overflow: hidden;
}

.Icondiv{
    margin: 5px;
    margin-left: 15px;
}

.Icondiv img{
    width: 80px;
}


.Brandtext{
    color: #70706e;
    flex: auto;
}
.Brandtext h1{
    font-size: xx-large;
    margin-top: 25px;
}
.Brandtext h1 span{
    color: #ea6660;
}


.Rules{
    margin-right: 15px;
    cursor: pointer;
    margin-top: -10px;
    transition: ease-in-out 0.3s;
}
.Rules:hover{
    margin-top: 0;
}